* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
.MarketPlace_createNft_div {
  border: 2px solid green;
  /* height: 100vh; */
  /* width: 100vw; */
}
.header {
  height: 11rem;
  background: #ffffff;
  border: 2px solid black;
}
.header-in {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
.logo {
  margin-left: 6rem;
  margin-top: 1rem;
}
.search_box {
  margin-left: 24.6rem;
  width: 54.3rem;
  height: 5rem;
  border-radius: 1rem;
}
.search {
  padding-left: 8rem;
  width: 54.3rem;
  height: 5rem;
  background: #faf8f5 url("images/search-normal.png") no-repeat 3rem 1.5rem;
  border-radius: 1rem;
  border: none;
}
.input::placeholder {
  padding-top: 0.5rem;
  padding-left: 7rem;
  width: 25.4rem;
  height: 1.9rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #a69f9f;
}
.settings {
  background: #f2f3f5;
  border-radius: 0.6rem;
  margin-left: 6.2rem;
  width: 5rem;
  height: 5rem;
  padding: 1.3rem;
}
.Button_div {
  margin-left: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.3rem 2rem;
  gap: 1rem;
  width: 20rem;
  height: 5rem;
  background: #ffffff;
  border: 0.2rem solid rgba(0, 120, 63, 0.5);
  border-radius: 0.6rem;
}
.address_div {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.address {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464754;
}
.drop_icon {
}

.slider-div {
  display: flex;
  flex-direction: row;
}
.Open-history-orders {
  margin-top: 6rem;
  margin-left: 9.8rem;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}

.side-nav {
  height: 1494px;
  width: 18.2rem;
  background: #faf8f5;
  border-radius: 10px 0px 0px 10px;
}
.preference_head,.details_head,.preview{
width: 7.5rem;
height: 1.7rem;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 1.4rem;
line-height: 120%;
color: #464754;
margin-bottom: 3rem;
}
.side-nav-right {
  display: flex;
  flex-direction: column;
}
.right_nav_div{
  margin-top: 3.5rem;
  margin-left: 4rem;
}
.page_status {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
}
.upload_nft{
  margin-bottom: 4rem;
}
.nft_upload_section{
  box-sizing: border-box;
width: 51.4rem;
height: 34rem;
opacity: 0.5;
border: 0.2rem dashed rgba(166, 159, 159, 0.5);
border-radius: 1.2rem;

}
.Name,.description,.Royalties,.Properties{
  margin-bottom: 4rem;
}
.Properties_section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 51.4rem;
  height: 30rem;
}

.Properties_left,
.Properties_right {
  display: flex;
  flex-direction: column;
}
.properties_namings {
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: 24.7rem;
  height: 5rem;
  border: 1.5px solid rgba(166, 159, 159, 0.5);
  border-radius: 0.8rem;
}
.Royalties_input,
.name_input,
.description_input {
  width: 51.4rem;
  height: 5rem;
  border: 1.5px solid rgba(166, 159, 159, 0.5);
  border-radius: 0.8rem;
}
.description_input {
  height: 10rem;
}
.name_head,.description_head,.Royalties_head,.Properties_head,.nft_header{
  margin-bottom: 2rem;
height: 1.9rem;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 1.6rem;
line-height: 120%;
letter-spacing: 0.02em;
color: #807373;
}
